<?xml version="1.0"?>
<robot name="exercise_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="robot_namespace" default="/" />

  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find taller1)/urdf/robot_joints.xacro" />
  <xacro:include filename="$(find taller1)/urdf/robot.gazebo" />

  <!-- Create the model -->

  <link name="base_footprint"/>

  <link name="base_link">
    <visual>
        <origin xyz="0.0 0 0.0" rpy="0 0 $(eval pi/4*0)"/>
        <geometry>
          <cylinder radius="0.3" length="0.10"/>
        </geometry>
        <material name="blueish">
          <color rgba="0.2 0.0 0.7 1.0"/>
        </material>
    </visual>
    <collision>
      <origin xyz="0.0 0 0.0" rpy="0 0 $(eval pi/4*0)"/>
      <geometry>
        <cylinder radius="0.3" length="0.10"/>
      </geometry>
    </collision>
    <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/> <mass value="1.0" />
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0" />
    </inertial>
  </link>

  <link name="wheel_left">
    <visual>
        <origin xyz="0.0 0 0.0" rpy="0 0 $(eval pi/4*0)"/>
        <geometry>
          <cylinder radius="0.033" length="0.03"/>
        </geometry>
        <material name="grisish">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
    </visual>
    <collision>
      <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.033" length="0.03"/>
      </geometry>
    </collision>
    <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/> <mass value="1.0" />
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0" />
    </inertial>
  </link>

<link name="wheel_rigth">
  <visual>
      <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.033" length="0.03"/>
      </geometry>
      <material name="grisish">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
  </visual>
  <collision>
    <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
    <geometry>
      <cylinder radius="0.033" length="0.03"/>
    </geometry>
  </collision>
  <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/> <mass value="1.0" />
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0" />
  </inertial>
</link>

<link name="pivot_back">
  <visual>
      <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.033"/>
      </geometry>
      <material name="grisish">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
  </visual>
  <collision>
    <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
    <geometry>
      <sphere radius="0.033"/>
    </geometry>
  </collision>
  <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/> <mass value="1.0" />
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0" />
  </inertial>
</link>

<link name="pivot_front">
  <visual>
      <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.033"/>
      </geometry>
      <material name="grisish">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
  </visual>
  <collision>
    <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
    <geometry>
      <sphere radius="0.033"/>
    </geometry>
  </collision>
  <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/> <mass value="1.0" />
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0" />
  </inertial>
</link>


</robot>
