<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <arg name="odom_topic" default="/odom" />
    <arg name="move_forward_only" default="false"/>

    <!-- move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <!-- ************************************************************************************************* -->
        <!-- Move Base Node parameters-->
        <rosparam file="$(find taller4)/config/move_base_params.yaml" command="load" />

        <!-- ************************************************************************************************* -->
        <!-- Common parameters-->
        <rosparam file="$(find taller4)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find taller4)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <!-- ************************************************************************************************* -->
        <!-- Local Planner paramters-->
        <rosparam file="$(find taller4)/config/costmap_local_params.yaml" command="load" />

        <!-- ************************************************************************************************* -->
        <!-- Global Planner paramters-->
        <rosparam file="$(find taller4)/config/costmap_global_params.yaml" command="load" />

        <!-- ************************************************************************************************* -->
        <!-- Local Planner Parameters-->
        <!-- Using DWA planner plugin-->

        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find taller4)/config/dwa_local_planner_params.yaml" command="load" />
        <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />

        <!-- Using Standard base local planner -->
        <!--
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
        <rosparam file="$(find taller4)/config/base_local_planner_params.yaml" command="load" />
        -->

        <!-- ************************************************************************************************* -->
        <!-- Global Planner Parameters-->
        <!-- Using Global planner plugin -->

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <rosparam file="$(find taller4)/config/global_planner_params.yaml" command="load" />



    </node>
</launch>
